ORM
- SQL을 대체할 수 없음.
- 접근하는 방법

# mysite server 실행하기
- python manamge.py runserver
- 127.0.0.1:800/admin 실행
    
    
## 1.  login할 수 있는 super user만들기
> 다른 콘솔에서
- pip install 
- python manage.py createsuperuser
- Username (leave blank to use 'student'):home(super user를 만들 수 있는 계정)
- password: home
- 127.0.0.1:800/admin 실행-> login하기

> user로 들어가면
- superuser 1명 있음.
- user정보를 갖고있는 시스템 테이블이 잇음.

### 1.1 브라우저에서 유저 추가하기
> user > add user
- 이순신/ 12home12
- 장고로 만들어진 application으로 db에 접속해서 넣기

> db.sqlite3
- 모든 데이터가 저장되어 있음.


### 1.2. DB를 control할 수 있는 tool
- https://sqlitebrowser.org/dl/

> db.sqlite3 정보 확인하기
- 데이터베이스 열기
- 모든 데이터베이스 정보 확인 가능
- 데이터 보기: auth_user (admin에서 만든 table)

> 데이터 추가
- 직접 sql문으로 넣기
- 셀 선택한 후, 쓰고 적용 해도 바로 반영이 안됨
- 따로 commit해야 함-> 변경사항 저장하기

## 2. SQL 실행

### 2.1 table 만들기
- 한번 만든 후, 수정 불가(직접 수정 불가)
- 지우고 하던가, FILED 수정하는 sql문을 사용해야 함.
- table만 만들어지고 row가 없음.

In [ ]:
'''
CREATE TABLE userTBL -- 회원 테이블 
( userID CHAR(8) NOT NULL PRIMARY KEY, -- 사용자 아이디(PK) 
  userName VARCHAR(10) NOT NULL, -- 이름 
  birthYear INT NOT NULL, -- 출생 연도 
  addr CHAR(2) NOT NULL, -- 지역(경기, 서울, 경남 식으로 2글자만 입력) 
  mobile1 CHAR(3), -- 휴대폰의 국번(011, 016, 017, 018, 019, 010 등) 
  mobile2 CHAR(8), -- 휴대폰의 나머지 번호(하이픈 제외) 
  height SMALLINT, -- 키 
  mDate DATE -- 회원 가입일
);
CREATE TABLE buyTBL -- 구매 테이블 

# AUTO_INCREMENT: sqlite는 안되는 듯.....

( num INT AUTO_INCREMENT NOT NULL PRIMARY KEY, -- 순번(PK) 
  userID CHAR(8) NOT NULL, -- 아이디(FK) 
  prodName CHAR(6) NOT NULL, -- 물품 
  groupName CHAR(4), -- 분류 
  price INT NOT NULL, -- 단가 
  amount SMALLINT NOT NULL, -- 수량 
  FOREIGN KEY (userID) REFERENCES userTBL (userID)
);

)
'''

### 2.2data 추가하기

#### userTBL 추가

In [ ]:
'''
INSERT INTO userTBL VALUES
('KHD', '강호동', 1970, '경북', '011', '22222222', 182, '2007-7-7')

'''

> DATA의 안정성, 무결성 보장
- 기본키: NULL이면 안되고, 중복되면 안됨.
- USER ID는 기본키이므로 중복되면 암됨
- 아래 코드는 실행 안됨.
- Result: UNIQUE constraint failed: userTBL.userID

In [ ]:
'''
INSERT INTO userTBL VALUES
('KHD', '강호동222', 1970, '경북', '011', '22222222', 182, '2007-7-7')

'''

#### buyTBL추가

In [ ]:
'''
INSERT INTO buyTBL VALUES
(NULL, 'fef','운동화', NULL, 30, 2);
'''

> Result: NOT NULL constraint failed: buyTBL.num
- 기본키에 user정보가 없기 때문에 오류
- 관계가 맺어진 key값만 허용됨.

In [2]:
# 일부분만 명시할 경우, coloum명을 mapping해야 함.
'''
INSERT INTO buyTBL (num, userID, prodName, price, amount)
VALUES (1, 'KHD','운동화',30, 2);
'''

'''
INSERT INTO buyTBL (num, userID, prodName, price, amount)
VALUES (2, 'KHD','노트북',1000, 1);
'''


# 전체 데이터
'''

CREATE TABLE userTBL -- 회원 테이블 
( userID CHAR(8) NOT NULL PRIMARY KEY, -- 사용자 아이디(PK) 
  userName VARCHAR(10) NOT NULL, -- 이름 
  birthYear INT NOT NULL, -- 출생 연도 
  addr CHAR(2) NOT NULL, -- 지역(경기, 서울, 경남 식으로 2글자만 입력) 
  mobile1 CHAR(3), -- 휴대폰의 국번(011, 016, 017, 018, 019, 010 등) 
  mobile2 CHAR(8), -- 휴대폰의 나머지 번호(하이픈 제외) 
  height SMALLINT, -- 키 
  mDate DATE -- 회원 가입일
);
CREATE TABLE buyTBL -- 구매 테이블 
( num INTEGER   PRIMARY KEY AUTOINCREMENT, 
  userID CHAR(8) NOT NULL, -- 아이디(FK) 
  prodName CHAR(6) NOT NULL, -- 물품 
  groupName CHAR(4), -- 분류 
  price INT NOT NULL, -- 단가 
  amount SMALLINT NOT NULL, -- 수량 
  FOREIGN KEY (userID) REFERENCES userTBL (userID)
);

INSERT INTO userTBL VALUES ('KHD', '강호동', 1970, '경북', '011', '2222', 182, '2007-7-7');
INSERT INTO userTBL VALUES ('KKJ', '김국진', 1965, '서울', '019', '33333333', 171, '2009-9-9');
INSERT INTO userTBL VALUES ('KYM', '김용만', 1967, '서울', '010', '44444444', 177, '2015-5-5');
INSERT INTO userTBL VALUES ('KJD', '김제동', 1974, '경남', NULL , NULL, 173, '2013-3-3');
INSERT INTO userTBL VALUES ('NHS', '남희석', 1971, '충남', '016', '66666666', 180, '2017-4-4');
INSERT INTO userTBL VALUES ('SDY', '신동엽', 1971, '경기', NULL, NULL, 176, '2008-10-10');
INSERT INTO userTBL VALUES ('LHJ', '이휘재', 1972, '경기', '011', '88888888', 180, '2006-4-4');
INSERT INTO userTBL VALUES ('LKK', '이경규', 1960, '경남', '018', '99999999', 170, '2004-12-12');
INSERT INTO userTBL VALUES ('PSH', '박수홍', 1970, '서울', '010', '00000000', 183, '2012-5-5');

INSERT INTO buyTBL VALUES (NULL, 'KHD', '운동화', NULL, 30, 2);
INSERT INTO buyTBL VALUES (NULL, 'KHD', '노트북', '전자', 1000, 1);
INSERT INTO buyTBL VALUES (NULL, 'KYM', '모니터', '전자', 200, 1);
INSERT INTO buyTBL VALUES (NULL, 'PSH', '모니터', '전자', 200, 5);
INSERT INTO buyTBL VALUES (NULL, 'KHD', '청바지', '의류', 50, 3);
INSERT INTO buyTBL VALUES (NULL, 'PSH', '메모리', '전자', 80, 10);
INSERT INTO buyTBL VALUES (NULL, 'KJD', '책', '서적', 15, 5);
INSERT INTO buyTBL VALUES (NULL, 'LHJ', '책', '서적', 15, 2);
INSERT INTO buyTBL VALUES (NULL, 'LHJ', '청바지', '의류', 50, 1);
INSERT INTO buyTBL VALUES (NULL, 'PSH', '운동화', NULL, 30, 2);
INSERT INTO buyTBL VALUES (NULL, 'LHJ', '책', '서적', 15, 1);
INSERT INTO buyTBL VALUES (NULL, 'PSH', '운동화', NULL, 30, 2);'''

"\nINSERT INTO userTBL VALUES ('KKJ', '김국진', 1965, '서울', '019', '33333333', 171, '2009-9-9');\nINSERT INTO userTBL VALUES ('KYM', '김용만', 1967, '서울', '010', '44444444', 177, '2015-5-5');\nINSERT INTO userTBL VALUES ('KJD', '김제동', 1974, '경남', NULL , NULL, 173, '2013-3-3');\nINSERT INTO userTBL VALUES ('NHS', '남희석', 1971, '충남', '016', '66666666', 180, '2017-4-4');\nINSERT INTO userTBL VALUES ('SDY', '신동엽', 1971, '경기', NULL, NULL, 176, '2008-10-10');\nINSERT INTO userTBL VALUES ('LHJ', '이휘재', 1972, '경기', '011', '88888888', 180, '2006-4-4');\nINSERT INTO userTBL VALUES ('LKK', '이경규', 1960, '경남', '018', '99999999', 170, '2004-12-12');\nINSERT INTO userTBL VALUES ('PSH', '박수홍', 1970, '서울', '010', '00000000', 183, '2012-5-5');\n\nINSERT INTO buyTBL VALUES (1, 'KHD', '운동화', NULL, 30, 2);\nINSERT INTO buyTBL VALUES (2, 'KHD', '노트북', '전자', 1000, 1);\nINSERT INTO buyTBL VALUES (3, 'KYM', '모니터', '전자', 200, 1);\nINSERT INTO buyTBL VALUES (4, 'PSH', '모니터', '전자', 200, 5);\nINSERT INTO buyTBL VALUES (5, 'KHD', '청바지', '의류', 50, 3);\nINSERT INTO buyTBL VALUES (6, 'PSH', '메모리', '전자', 80, 10);\nINSERT INTO buyTBL VALUES (7, 'KJD', '책', '서적', 15, 5);\nINSERT INTO buyTBL VALUES (8, 'LHJ', '책', '서적', 15, 2);\nINSERT INTO buyTBL VALUES (9L, 'LHJ', '청바지', '의류', 50, 1);\nINSERT INTO buyTBL VALUES (10, 'PSH', '운동화', NULL, 30, 2);\nINSERT INTO buyTBL VALUES (11, 'LHJ', '책', '서적', 15, 1);\nINSERT INTO buyTBL VALUES (12, 'PSH', '운동화', NULL, 30, 2);\n"

### 2.3. SELECT

#### group by

>지역별로 몇명인지 세기
- <font color = 'red'>select 다음에 컬럼명 쓰기</font>

In [ ]:
'''
SELECT  addr, count(*) FROM userTBL
group by addr;
'''
# 같은 결과
'''
SELECT  addr, count(addr) FROM userTBL
group by addr;
'''

> buyTBL에서 품목별로 몇개인지 세기

In [6]:
'''
SELECT  groupName, count(*) FROM buyTBL
group by groupName;

'''

'\nSELECT  groupName, count(*) FROM buyTBL\ngroup by groupName;\n\n'

> 유저별로 낼 돈 계산하기

In [ ]:
'''
SELECT  userID, sum(price*amount) from buyTBL
group by userID
'''

### 2.4. table 지우기

In [7]:
'''
drop table buyTBL;
drop table userTBL;
'''

SyntaxError: invalid syntax (<ipython-input-7-46ddd2641055>, line 2)

### 2.5. join
- 두 개의 table을 묶어서 하나의 결과 테이블을 만드는 것.

#### 내부 조인
- 2개 * 3개 = 6개를 모두 갖고 옴.
- 첫번재 record에 두번째 테이블의 모든 row를 갖다 붙이기
- 의미 없는 정보가 너무 많음.
- 모든 데이터를 포함하는 3개만 갖고와야 함..
- userTBL(9개) * buyTBL(12) = 108

In [ ]:
# row 개수 세기
'''
select count(*) from userTBL
'''

In [ ]:
# 내부 조인
'''
select * from userTBL, buyTBL
'''

#### 내부 조인 조건 추가

In [ ]:
'''
select * from userTBL, buyTBL
where userTBL.userid = buyTBL.userID;
'''

In [ ]:
'''
SELECT userTBL.userID, username, sum(amount), sum(amount*price)
 from userTBL, buyTBL
 WHERE userTBL.userID = buyTBL.userID
 GROUP BY userTBL.userID, username
'''

### 2.6. 정렬

In [9]:
# userID기분으로 정렬
'''
SELECT userTBL.userID, username, sum(amount), sum(amount*price)
 from userTBL, buyTBL
 WHERE userTBL.userID = buyTBL.userID
 GROUP BY userTBL.userID, username
 order by userTBL.userID   

'''

'\nSELECT userTBL.userID, username, sum(amount), sum(amount*price)\n from userTBL, buyTBL\n WHERE userTBL.userID = buyTBL.userID\n GROUP BY userTBL.userID, username\n order by userTBL.userID   \n\n'

#### as: 별명으로..<font color = 'red'>생략 가능!!!</font>

In [ ]:
'''
SELECT userTBL.userID, username, sum(amount), 
sum(amount*price) total
 from userTBL, buyTBL
 WHERE userTBL.userID = buyTBL.userID
 GROUP BY userTBL.userID, username
 order by total
'''

In [ ]:
'''
SELECT u.userID, username, sum(amount), 
sum(amount*price) total
 from userTBL u, buyTBL b
 WHERE u.userID = b.userID
 GROUP BY u.userID, username
 order by total
 '''

In [ ]:
'''
SELECT addr, sum(amount), sum(amount*price) total, count(*)
from userTBL u, buyTBL b
where u.userID= b.userID
group by addr
order by total

'''

### 2.7. having: 조건절
- where: 데이터를 갖고온 후 사용
- having; group by 한 이후에 사용가능

In [ ]:
'''
SELECT addr, sum(amount), sum(amount*price) total, count(*)
from userTBL u, buyTBL b
where u.userID= b.userID
group by addr
having total > 170
order by total
'''